<div class='dash-body'>



    <div class='left-column'>
        <h2>Find your Shelves!s</h2>

        <form action='/dashboard/shelve' method="get">
            <input datalist='shelves-datalist' name='shelve' placeholder="Search you shelves!">
            <datalist id='shelves-datalist'>

            </datalist>
            <input type="submit">
        </form>
        <div class="error">
            {{#if errorSearch}}
            <h2 display='color:red;'>{{errorSearch.message}}</h2>
            {{/if}}
        </div>
        <br>

        <div class='add-shelves-container'>
            <h2>Create a shelve!</h2>
            <form action="/dashboard/shelve" method="post">
                <input name='shelveName' placeholder="Add a new shelve!">
                <input type="submit">
            </form>
            <div class="error">
                {{#if errorAdd}}
                <h2 display='color:red;'>{{errorAdd.message}}</h2>
                {{/if}}
            </div>
            <br>

        </div>
    </div>
    {{#if shelve}}

    <div class='middle-column'>
        <h1>{{shelve.name}}</h1>
        <div id='bin-container'>
            {{#if bin}} {{#each bin}}
            <div class="square">
                {{this.dataValues.name}}
            </div>
            {{/each}}
            <div class="square">words</div>
            {{/if}}
        </div>
    </div>
    {{/if}} {{#if items}}
    <div class='right-column'>
        <h1>This is what you have</h1>
        <ul>
            <li>Hi</li>
        </ul>
    </div>
    {{/if}}