 <div id='welcome'>
        <h1>Cubic Organizer!</h1>
        <h3>The best way to organize and check on your cubic bins!</h3>
        <a class="button is-primary" href='/signup'>Sign Up</a>
        <a class="button is-link" href='#'>Log In</a>
    </div>