#welcome {
    height: 100vh;
    background-image: url('../img/background.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#welcome>* {
    margin: 5px;
}

#welcome>.button {
    width: 75px;
}





.error>h2 {
    position: absolute;
    color: red;
}



/* DASHBOARD */

.dash-body {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;


    height: 100vh;
    background-image: url('../img/background.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.dash-body>.left-column {

    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 20px;

}

.dash-body>.middle-column {

    flex-grow: 2;


    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.middle-column>h1 {
    margin: auto;
}

#bin-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75%;
    justify-content: space-evenly;
}

.square {
    border-style: solid;
    border-color: red;
    width: 75px;
    height: 75px;
    font-size: 10px;
    overflow: scroll;
    text-align: center;
    align-content: center;
}




.right-column {

    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
}
