#welcome {
    height: 100vh;
    background-image: url('../img/background.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#welcome>* {
    margin: 5px;
}

#welcome>.button {
    width: 75px;
}





.error>h2 {
    position: absolute;
    color: red;
}



/* DASHBOARD */

.dash-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;


    height: 100vh;
    background-image: url('../img/background.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dashboard{
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.24);
    padding: 35px;
    overflow: auto;
}

.dashboard>.left-column {

    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 20px;

}
.left-column > *{
    font-size: 35px;
}

.left-column, .middle-column{
    margin: 40px;
}


.dashboard>.middle-column {

    flex-grow: 2;


    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.bins{
    align-content: center;
    display: flex;
    flex-direction: column;
}


#bin-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 40%;
    justify-content: space-evenly;
}


.bins > *, h1{
    margin: auto;
    text-align: center;
    font-size: 35px;
}


.square {
    border-style: solid;
    border-color: red;
    width: 100px;
    height: 100px;
    font-size: 10px;
    overflow: scroll;
    margin: 10px;
    text-align: center;
    align-content: center;
}




.right-column {

    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
}
