






#welcome{
    height: 100vh;
    background-image: url('../img/background.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#welcome > *{
    margin: 5px;
}
#welcome > .button{
    width: 75px;
}